.panneau{
    background:  url('../assets/img/menu.png') 0% 0% no-repeat padding-box;
background: #FFFFFF 0% 0% no-repeat padding-box;
top: 969px;

width: 444px;
height: 425px;
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #E2E2E2;
opacity: 1;
width: 142px;
height: 32px;
text-align: left;
font: normal normal bold 25px/32px PT Sans;
letter-spacing: 0px;
color: #1F1F1F;
opacity: 1;
}
.panneau p{
    width: 359px;
height: 189px;
text-align: left;
font: normal normal normal 14px/25px PT Sans;
letter-spacing: 0px;
color: #504E4E;
opacity: 1;
}
.realisation{
    width: 908px;
height: 560px;

}
.realisationText h{
    width: 225px;
height: 43px;
text-align: left;
font: normal normal bold 33px/43px PT Sans;
letter-spacing: 0px;
color: #1F1F1F;
white-space: nowrap;
}
@media (max-width: 640px ) {
    /*Mobile View */
    .realisationText h{
       
    margin-left: 40%;
   
    }
    .realisation{
        width: 500px;
    }
    .panneau{
        margin-left: 60%;
        max-width: 200px;
        height: 30%;
    
    }
    .panneau p{
        width: 70%;
        height: 50%;
    }
   
  }
  